body {
   
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    z-index: 1;
}

/* .header{
    background-color: #404041;
} */

.navbar {
    margin-top: 5px;
    position: relative;
    z-index: 2;
    width: 100%;
}

.register {
    background-color: #24A97B;
    border: 0;
    margin-left: 130px; 
    padding: 6px 25px;
    border-radius: 20px;
    /* color: white; */
    color: #eff1d8;
    font-size: 10px;
}
.rightside{
    display: flex;
    justify-content: space-evenly;
    margin-right: 100px;
}

.login {
    background-color: transparent;
    border: none;
    color: white;
    /* margin-left: 10px; */
    font-size: 10px;
    color: #dad7d7;
    margin-left: 20px;
}

.insta{

    border: none;
    border-radius: 100%;
    background-color: white;
    margin-left: 29px;
    padding: 1px;
    width: 20px;
    height: 20px;
    margin-top: 2px;
}
.instaimg{
    width: 18px;
    margin-bottom: 60px;

}

.centerlogo {
    position: relative;
    z-index: 3;
    text-align: center;
    margin-top: 50px;
}
.logo{
    /* margin-top: 10px; */
    width: 180px;
}
.line{
  margin-top: 13px;
    margin-bottom: 20px;
    font-weight: 300;
    font-size: 18px;

}
.search-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

}

.search-container {
    position: relative;
    width: 50%; 
}


.search {
    width: 100%;
    padding: 8px 8px 8px 55px;
    border-radius: 20px;
    border: none;
    margin-bottom: 10px;
    outline: none;
    font-size: 14px;
}


.searchicon {
    position: absolute;
    left: 30px;
    top: 42%;
    transform: translateY(-50%);
    width: 15px;
    height: 15px;
}



.search::placeholder {
    font-size: 11px;
    color: #aaa;
    
}

.footer {

    padding: 20px 0;
    position: relative;
    z-index: 5;
    margin-top: 300px;

  }
  @media (max-width: 891px) {
    .register {
        font-size: 13px;
       margin-left: 70px;
    }
    .login{
        font-size: 13px;
    }
    .logo{
        width: 200px;
        margin-top: -30px;
    }
    .line{
        margin-top: 9px;
        margin-bottom: 12px;
    }
    .search{
        width: 60%;
        padding: 8px;
        border-radius: 20px;
        border: none;
        font-size: 15px;

    }

    
}

  @media (max-width: 768px) {
    .register {
        font-size: 8px;
       margin-left: 70px;
       padding: 4px 25px;
    }
    .login{
        font-size: 8px;
    }
    .insta{
        border: none;
        border-radius: 100%;
        background-color: white;
        margin-left: 29px;
        padding: 2.5px;
    
        width: 20px;
        height: 20px;
    }
    .instaimg{
        width: 15px;
        margin-bottom: 9px;
    }
    
    .logo{
        width: 138px;
        margin-bottom: -20px;
    }
    .line{
        /* margin-top: 9px; */
        /* margin-bottom: 12px; */
        font-size: 13px;
    }
    .search{
        width: 100%;
        border: none;
        font-size: 9px;
        width: 100%;
    padding: 5px 5px 5px 45px;
    border-radius: 20px;
    border: none;
    margin-bottom: 10px;
    outline: none;

    }
    .searchicon {
        position: absolute;
        left: 25px;
        top: 42%;
        transform: translateY(-50%);
        width: 10px;
        height: 10px;
    }
    .search::placeholder {
        font-size: 8px;
        color: #aaa;
        
    }

    
}

@media (max-width: 430px) {

    .background{
        content: url('/public/images/430bg.png');
}
.register {
    font-size: 7px;
    margin-left: 35px;
    padding: 5px 20px;
   
}
.insta{
    display: none;
}
.rightside {
    margin-left: 30px;
    margin-right: 20px;
}
.login{
    font-size: 7px;
}

.line{
    font-size: 10px;
    
}
.search-container {
    position: relative;
    width: 70%; 
}


.search {
    width: 100%;
    padding: 4px 4px 4px 30px;
    border-radius: 20px;
    border: none;
    margin-bottom: 10px;
    outline: none;
}


.searchicon {
    position: absolute;
    left: 15px;
    top: 43%;
    transform: translateY(-50%);
    width: 10px;
    height: 10px;
}



.search::placeholder {
    font-size: 8px;
    color: #aaa;
    
}
.logo{

        width: 120px;
        height: auto;
      
 
}
    
 
}

@media (max-width: 425px) {
    .background{
            content: url('/public/images/425bg.png');
    }
    .register {
        font-size: 7px;
        margin-left: 35px;
        padding: 5px 20px;
       
    }
    .insta{
        display: none;
    }
    .rightside {
        margin-left: 30px;
        margin-right: 20px;
    }
    .login{
        font-size: 7px;
    }
    
    .line{
        font-size: 10px;
        
    }
    .search-container {
        position: relative;
        width: 70%; 
    }
    
    
    .search {
        width: 100%;
        padding: 4px 4px 4px 30px;
        border-radius: 20px;
        border: none;
        margin-bottom: 10px;
        outline: none;
    }
    
    
    .searchicon {
        position: absolute;
        left: 15px;
        top: 43%;
        transform: translateY(-50%);
        width: 10px;
        height: 10px;
    }
    
    
    
    .search::placeholder {
        font-size: 8px;
        color: #aaa;
        
    }
    .logo{

            width: 120px;
            height: auto;
          
     
    }

    
}

@media (max-width: 375px) {
    .logo{
        width: 100px;
    }
    .line{
       margin-top: 0px;
        font-size: 9px;
        
    }
    .search-container {
        position: relative;
        width: 70%; 
    }
    
    
    .search {
        width: 100%;
        padding: 3px 3px 3px 35px;
        border-radius: 20px;
        border: none;
        margin-bottom: 10px;
        outline: none;
    }
    
    
    .searchicon {
        position: absolute;
        left: 20px;
        top: 42%;
        transform: translateY(-50%);
        width: 10px;
        height: 10px;
    }
    
    
    
    .search::placeholder {
        font-size: 6px;
        color: #aaa;
        
    }
   

    
}


@media (max-width: 320px) {
    .container-fluid{
        padding-right: 0px;
    }
    .register {
        font-size: 6px;
        margin-left: 20px;
        padding: 5px 18px;
       
    }
    .logo{
        width: 100px;
        margin-top: -80px;
    }
    .login{
        font-size: 6px;
       
    }
    .line{
        font-size: 12px;
    }
    .search-container {
        position: relative;
        width: 80%; 
    }
    
    
    .search {
        width: 100%;
        padding: 3px 3px 3px 30px;
        border-radius: 20px;
        border: none;
        margin-bottom: 10px;
        outline: none;
    }
    
    
    .searchicon {
        position: absolute;
        left: 15px;
        top: 40%;
        transform: translateY(-50%);
        width: 10px;
        height: 10px;
    }
    
    
    
    .search::placeholder {
        font-size: 7px;
        color: #aaa;
        
    }

    .line{
        font-size: 10px;
        margin-top: -20px;
        margin-bottom: 10px;
    }

  
    
}

